body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin:40px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.avatar_url{
    height: 60px;
    width: 60px;
}

.text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
